<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Kosten in centen met Directive (poging om ook numeriek)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="kostenForm">
      <h4>huisdieren</h4>
      <div [formGroup]="kostenForm.controls.huisdieren">
        <div class="form-row-calculate">
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Alpaca's</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.huisdieren.controls.alpacas"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Honden</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.huisdieren.controls.honden"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input total-sub-culculation">
            <mat-label>Totaal huisdieren</mat-label>
            <input matInput
              [value]="huisdierenTotaalValue | currency"
              readonly
              tabindex="-1"
            />
          </mat-form-field>
        </div>
      </div>
      <h4>Hobbies</h4>
      <div [formGroup]="kostenForm.controls.hobbies">
        <div class="form-row-calculate">
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Knutselen</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.hobbies.controls.knutselen"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Gamen</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.hobbies.controls.gamen"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input total-sub-culculation">
            <mat-label>Totaal hobbies</mat-label>
            <input matInput
              [value]="hobbiesTotaalValue | currency"
              readonly
              tabindex="-1"
            />
          </mat-form-field>
        </div>  
      </div>
      <h4>Eten</h4>
      <div [formGroup]="kostenForm.controls.eten">
        <div class="form-row-calculate">
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Boodschappen</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.eten.controls.boodschappen"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input">
            <mat-label>Uit eten</mat-label>
            <input matInput
              currencyCentsInput
              [formControl]="kostenForm.controls.eten.controls.uiteten"/>
          </mat-form-field>
          <mat-form-field class="form-field-medium currency-input total-sub-culculation">
            <mat-label>Totaal hobbies</mat-label>
            <input matInput
              [value]="etenTotaalValue | currency"
              readonly
              tabindex="-1"
            />
          </mat-form-field>
        </div>  
      </div>
      <div class="form-row-calculate">
      <mat-form-field class="form-field-medium currency-input total-culculation">
        <mat-label>Totaal</mat-label>
        <input matInput
          [value]="totaalValue | currency"
          readonly
          tabindex="-1"
        />
      </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>