<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Persoonlijke informatie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <div [formGroup]="persoonlijkeInformatie">
    <div class="form-row">
      <!-- START - Autocomplete component direct in the form -->
      <mat-form-field class="form-field grow-1">
        <mat-label>Kies je favoriete kleur1</mat-label>
        <input #autocompleteinput
        matInput
        class="autocomplete-input"
        type="text"
        formControlName="kleur1"
        placeholder="Kies een kleur"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()"
      >
      @if (autocompleteinput.value !== '') {
        <button matSuffix
          (click)="clearAutocompleteInput()"
          aria-label="clear input"
          class="mat-suffix-button"
          mat-icon-button
          type="button"
        >
          <mat-icon>clear</mat-icon>
        </button>
      }
      <mat-autocomplete
        #autocompleteselect
        requireSelection
        #auto="matAutocomplete">
      @for (option of filteredOptions(); track option) {
      <mat-option [value]="option">{{option}}</mat-option>
      }
      </mat-autocomplete>
      </mat-form-field>
      <!-- END - Autocomplete component direct in the form -->
    </div>
    <div class="form-row">
      <!-- START - Autocomplete component with mat-form-field in a separate component -->
      <app-custom-mat-autocomplete
        class="form-field grow-1" 
        formControlName="kleur2"
        [options]="kleuren" 
        label="Kies je favoriete kleur2"
        placeholder="Kies een kleur"
      ></app-custom-mat-autocomplete>
      <!-- END - Autocomplete component with mat-form-field in a separate component -->
    </div>
    <div class="form-row">
      <!-- START - Autocomplete component with mat-form-field in a separate component -->
      <app-custom-mat-autocomplete-2 
        class="form-field grow-1"
        (formControlReady)="addFormControlToParentForm('kleur3a', $event)" 
        [options]="kleuren"
        [label]="'Kies je favoriete kleur3a'"
        [placeholder]="'Kies een kleur'"
      ></app-custom-mat-autocomplete-2>
      <app-custom-mat-autocomplete-2 
      class="form-field grow-1"
      (formControlReady)="setKleur3bParentForm($event)" 
      [options]="kleuren"
      [label]="'Kies je favoriete kleur3b'"
      [placeholder]="'Kies een kleur'"
    ></app-custom-mat-autocomplete-2>
    <app-custom-mat-autocomplete-2 
      class="form-field grow-1"
      (formControlReady)="addKleur3cToParentForm($event)" 
      [options]="kleuren"
      [label]="'Kies je favoriete kleur3c'"
      [placeholder]="'Kies een kleur'"
    ></app-custom-mat-autocomplete-2>
      <!-- END - Autocomplete component with mat-form-field in a separate component -->
  </div>
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Kies je favoriete kleur4</mat-label>
        <app-custom-mat-autocomplete-3 
          formControlName="kleur4"
          [options]="kleuren" 
          placeholder="Kies een kleur"
        ></app-custom-mat-autocomplete-3>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Lievelingsdier</mat-label>
        <mat-select 
          id="Lievelingsdier" 
          (selectionChange)="onLievelingsdierChange($event)"  
          formControlName="lievelingsdier">
          <mat-option value="hond">Hond</mat-option>
          <mat-option value="kat">Kat</mat-option>
          <mat-option value="konijn">Konijn</mat-option>
          <mat-option value="alpaca">Alpaca</mat-option>
          <mat-option value="anders">Anders</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    @if (showAnderLievelingsdierField()) {
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Voer ander dier in</mat-label>
        <input matInput 
          id="anderLievelingsdier" 
          formControlName="anderLievelingsdier" 
          [maxlength]="anderlievelingsdierMaxlength()"
          type="text">
      </mat-form-field>
      <mat-form-field class="form-field grow-1">
        <mat-label>Waarom?</mat-label>
        <input matInput 
          id="waaromDitDier" 
          formControlName="waaromDitDier" 
          [maxlength]="waaromDitDierMaxlength()"
          type="text">
      </mat-form-field>
    </div>
    }
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Hobbies</mat-label>
        <textarea 
          matInput 
          id="hobbies" 
          formControlName="hobbies" 
          type="text"
          maxlength="200" 
          rows="4"
          #myHobbies></textarea>
          <mat-hint align="end">{{myHobbies.value.length}}/{{myHobbies.maxLength}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  </mat-card-content>
</mat-card>