<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Persoonlijke informatie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <div [formGroup]="persoonlijkeInformatie">
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Kies je favoriete kleur</mat-label>
        <app-autocomplete 
          formControlName="kleur1"
          [options]="kleuren" 
          placeholder="Kies een kleur"
          [aria-describedby]="'kleurtjes'"
        ></app-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-row">
      <app-custom-mat-autocomplete 
        formControlName="kleur2"
        [options]="kleuren" 
        label="Kies je favoriete kleur"
      ></app-custom-mat-autocomplete>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Kies je favoriete kleur met mat-autocomplete</mat-label>
        <input #autocompleteinput
        matInput
        class="autocomplete-input"
        type="text"
        formControlName="kleur3"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()"
      >
      @if (autocompleteinput.value !== '') {
        <button matSuffix
          (click)="clearAutocompleteInput()"
          aria-label="clear input"
          class="mat-suffix-button"
          mat-icon-button
          type="button"
        >
          <mat-icon>clear</mat-icon>
        </button>
      }
      <mat-autocomplete
        #autocompleteselect
        requireSelection
        #auto="matAutocomplete">
      @for (option of filteredOptions(); track option) {
      <mat-option [value]="option">{{option}}</mat-option>
      }
      </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Lievelingsdier</mat-label>
        <mat-select id="Lievelingsdier" formControlName="lievelingsdier">
          <mat-option value="hond">Hond</mat-option>
          <mat-option value="kat">Kat</mat-option>
          <mat-option value="konijn">Konijn</mat-option>
          <mat-option value="alpaca">Alpaca</mat-option>
          <mat-option value="anders">Anders</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    @if (showAnderLievelingsdierField()) {
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Voer ander dier in</mat-label>
        <input matInput 
          id="anderLievelingsdier" 
          formControlName="anderLievelingsdier" 
          [maxlength]="anderlievelingsdierMaxlength()"
          type="text">
        @if (anderLievelingsdierControl?.errors?.['required']) {
          <mat-error>Dier is verplicht</mat-error>
        }
      </mat-form-field>
    </div>
    }
    <div class="form-row">
      <mat-form-field class="form-field grow-1">
        <mat-label>Hobbies</mat-label>
        <textarea 
          matInput 
          id="hobbies" 
          formControlName="hobbies" 
          type="text"
          maxlength="200" 
          rows="4"
          #myHobbies></textarea>
          <mat-hint align="end">{{myHobbies.value.length}}/{{myHobbies.maxLength}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  </mat-card-content>
</mat-card>