<div class="form">
  <div class="formdata">
    <h1>Main Form</h1>	
    <form [formGroup]="mainform" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Input in main form</mat-label>
          <input matInput formControlName="veld">
        </mat-form-field>
      </div>
      <app-subone></app-subone>
      <app-subtwo></app-subtwo>
    <button mat-raised-button type="submit">Versturen</button>
    </form>
  </div>
  <div class="formvalues">
    <h2>Form Data</h2>
    <b><p>Input in main form: {{mainform.value.veld}}</p></b>
    <ul>
      <li>Touched: {{ mainform.get('veld')?.touched }}</li>
      <li>Dirty: {{ mainform.get('veld')?.dirty }}</li>
      <li>Valid: {{ mainform.get('veld')?.valid }}</li>
      <li>Prestine: {{  mainform.get('veld')?.pristine }} </li>
      <li>Errors: {{ mainform.get('veld')?.errors }}</li>
    </ul>

    <h3>Subform One</h3>
    <p>Naam: {{mainform.value.subformOne.naam}}</p>
    <p>Hobby: {{mainform.value.subformOne.hobby}}</p>
    <h3>Subform Two</h3>
    <p>Straat: {{mainform.value.subformTwo.straat}}</p>
    <p>Postcode: {{mainform.value.subformTwo.postcode}}</p>
    <p>Plaats: {{mainform.value.subformTwo.plaats}}</p>
  </div>
</div>