.form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  width: 100%;
  outline: 1px solid blue;

  .formdata {
  outline: 1px solid red;
  padding: 15px;
  flex-basis: 600px;

    .form-row {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .formvalues{
    outline: 1px solid red;
    padding: 15px;
  }
}
