<button class="testbutton" mat-raised-button (click)="toggleFormValuesSection()">{{ showFormValues() ? 'Verberg' : 'Toon' }} formulier waarden</button>
<div class="form-component">
  <div class="formdata">
    <h2>Voorbeeld formulier</h2>	
    <form class="form" [formGroup]="mainform" (ngSubmit)="onSubmit()" #myForm>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="form-row">
            <mat-form-field class="form-field grow-1">
              <mat-label>Naam</mat-label>
              <input matInput formControlName="naam">
              <mat-hint>Voer hier uw naam in</mat-hint>
              @if (mainform.get('naam')?.errors?.['required']) {
                <mat-error>Naam is verplicht</mat-error>
              }
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <app-bezorglocaties></app-bezorglocaties>
      <app-persoonlijke-informatie></app-persoonlijke-informatie>
      <app-adresgegevens></app-adresgegevens>
    <div class="form-actions">
      <button 
        mat-raised-button
        type="submit">Verstuur</button>
      <button class="secondary-button" mat-button type="button" (click)="myForm.reset()">Wis formulier</button>
    </div>
    </form>
  </div>
  @if (showFormValues()) {
  <div class="formvalues">
    <h2>Formulier waarden</h2>
    <p>Naam: {{mainform.value.naam}}</p>
    <ul>
      <li>Touched: {{ mainform.get('naam')?.touched }}</li>
      <li>Dirty: {{ mainform.get('naam')?.dirty }}</li>
      <li>Prestine: {{  mainform.get('naam')?.pristine }} </li>
      <li>Valid: {{ mainform.get('naam')?.valid }}</li>
    </ul>

    <h3>Persoonlijke informatie</h3>
    <p>Lievelingsdier: {{mainform.value.subformOne.lievelingsdier}}</p>
    <p>Andere dier: {{mainform.value.subformOne.anderLievelingsdier}}</p>
      <ul>
        <li>Touched: {{ mainform.get('subformOne.anderLievelingsdier')?.touched }}</li>
        <li>Dirty: {{ mainform.get('subformOne.anderLievelingsdier')?.dirty }}</li>
        <li>Prestine: {{  mainform.get('subformOne.anderLievelingsdier')?.pristine }} </li>
        <li>Valid: {{ mainform.get('subformOne.anderLievelingsdier')?.valid }}</li>
      </ul>
    <p>Lievelingskleur: {{mainform.value.subformOne.lievelingskleur}}</p>
    <p class="preserveTextareaLineBreaks">Hobbies:<br> {{mainform.value.subformOne.hobbies}}</p>
    <p>SubForm valid: {{ mainform.get('subformOne')?.valid }}</p>
    <h3>Adresgegevens</h3>
    <p>Straat: {{mainform.value.subformTwo.straat}}</p>
    <p>Nummer: {{mainform.value.subformTwo.nummer}}</p>
    <p>Postcode: {{mainform.value.subformTwo.postcode}}</p>
    <p>Plaats: {{mainform.value.subformTwo.plaats}}</p>
    <h3>Formulier</h3>  
      <ul>
        <li>Touched: {{ mainform.touched }}</li>
        <li>Dirty: {{ mainform.dirty }}</li>
        <li>Prestine: {{  mainform.pristine }} </li>
        <li>Valid: {{ mainform.valid }}</li>
      </ul>
  </div>
  }
</div>