<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Bezorglocaties</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-row">
      <mat-radio-group
        class="form-field"
        [value]="selectedBezorglocatieFormGroup().value.id"
        (change)="onSelectBezorglocatie($event.value)" 
        aria-label="Selecteer een locatie">
          @for (bezorglocatie of bezorglocatiesControls; track bezorglocatie.value.id) {
            <mat-radio-button 
              [value]="bezorglocatie.value.id"
              [ngClass]="{'radio-button-error-label': bezorglocatie.invalid}">
              {{bezorglocatie.value.naam}}
              @if (bezorglocatie.invalid) {
                <mat-icon>priority_high</mat-icon>
              }
            </mat-radio-button>
          }
      </mat-radio-group>
    </div>
      <div [formGroup]="selectedBezorglocatieFormGroup()">
        <div class="form-row">
          <mat-form-field class="form-field grow-1">
            <mat-label>Locatie naam</mat-label>
            <input matInput formControlName="naam">
          </mat-form-field>
        </div>
        <div formArrayName="adres">
          <div class="form-row">
            <mat-form-field class="form-field grow-1">
              <mat-label>Straat</mat-label>
              <input matInput formControlName="straat">
            </mat-form-field>
            <mat-form-field class="form-field-small">
              <mat-label>Nummer</mat-label>
              <input matInput formControlName="huisnummer">
            </mat-form-field>
          </div>  
          <div class="form-row">
            <mat-form-field class="form-field-small">
              <mat-label>Postcode</mat-label>
              <input matInput formControlName="postcode">
            </mat-form-field>
            <mat-form-field class="form-field grow-1">
              <mat-label>Plaats</mat-label>
              <input matInput formControlName="plaats">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="form-field grow-1">
              <mat-label>Land</mat-label>
              <input matInput formControlName="land">
            </mat-form-field>
          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>
